:host {
  display: block;
}

.overlay {
  position: fixed;
  z-index: var(--app-z-index-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 70%);
  inset: 0;
}
