<mat-toolbar class="header fixed shadow-lg !bg-white">
  <div class="container mx-auto px-10">
    <header class="flex justify-between">
      <a [routerLink]="['/']" class="hidden md:inline">
        <img
          height="41"
          width="168"
          ngSrc="Angular_Logo_SVG.svg"
          alt="Angular Logo"
        />
      </a>
      <a [routerLink]="['/']" href="https://angulare.dev" class="md:hidden">
        <img
          height="48"
          width="48"
          ngSrc="angular_gradient.png"
          alt="Angular Logo"
        />
      </a>

      <nav class="flex items-center gap-4">
        @for (route of ['home', 'order', 'product']; track $index) {
        <a
          [routerLink]="['/', route]"
          routerLinkActive
          #rla="routerLinkActive"
          [color]="rla.isActive ? 'accent' : 'primary'"
          mat-flat-button
          >{{ route | titlecase }}</a
        >
        }
      </nav>
    </header>
  </div>
</mat-toolbar>

<main class="container mx-auto mt-16 p-10">
  <p>test  3</p>
  <router-outlet />
</main>

<footer class="mt-auto p-10 bg-white">
  <div class="container mx-auto text-center"></div>
</footer>
