<ng-container *ngTemplateOutlet="
template() ?? null; context:{ title: 'title11111'}
"> </ng-container>

<div class="bg-white rounded-lg shadow overflow-hidden">
    <div class="p-4 border-b border-gray-200">
        <div class="flex justify-between items-center">
            <h3 class="font-bold text-lg">#ORD-{{id()}}</h3>
            <!-- <span class="px-2 py-1 bg-green-100 text-green-800 rounded-full text-xs">Completed</span> -->
        </div>
    </div>
</div><div class="p-4">
    <div class="flex justify-between mb-2">
        <span class="text-gray-500">Customer:</span>
        <span class="font-medium">{{nome()}}</span>
    </div>
    <div class="flex justify-between mb-2">
        <span class="text-gray-500">Date:</span>
        <span>{{date() | date}}</span>
    </div>
    <!-- <div class="flex justify-between mb-2">
        <span class="text-gray-500">Items:</span>
        <span>3 items</span>
    </div> -->
    <div class="flex justify-between mb-4">
        <span class="text-gray-500">Total:</span>
        <span class="font-bold">{{price() | currency}}</span>
    </div>
    <div class="flex justify-end space-x-2">
        <a [routerLink]="id()" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">
            <i class="fas fa-eye mr-1"></i> View
        </a>
    </div>
</div>