@use 'sass:meta';
@use '../variables' as *;
// stylelint-disable declaration-no-important

@layer utilities {
  $sides: (
    null: '',
    t: 'top',
    b: 'bottom',
    s: 'left',
    e: 'right',
    x: (
      'left',
      'right',
    ),
    y: (
      'top',
      'bottom',
    ),
  );

  @each $bp, $media in $spacing-breakpoints {
    @each $prop in ('m', 'p') {
      $css-prop: if($prop == 'm', margin, padding);

      @each $side, $dirs in $sides {
        @each $size, $value in $spacers {
          $class: if(
            $bp == xs or $bp == null,
            '.#{$prop}#{$side}-#{$size}',
            '.#{$prop}#{$side}-#{$bp}-#{$size}'
          );

          @if $media {
            @media (#{$media}) {
              #{$class} {
                @if meta.type-of($dirs) == 'list' {
                  @each $dir in $dirs {
                    #{$css-prop}-#{$dir}: $value !important;
                  }
                } @else {
                  @if $dirs != '' {
                    #{$css-prop}-#{$dirs}: $value !important;
                  }
                }
              }
            }
          } @else {
            #{$class} {
              @if meta.type-of($dirs) == 'list' {
                @each $dir in $dirs {
                  #{$css-prop}-#{$dir}: $value !important;
                }
              } @else {
                @if $dirs != '' {
                  #{$css-prop}-#{$dirs}: $value !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
